# Compiled
*.elc

# Packaging
.cask

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# ignore all file except .emacs .emacs.d
*
!*.*
!/.emacs.d/*
!.*.*
!readme.org
!/.emacs.d/lisp/*

# ignore in GitHub UI
base64.cer
fixcfg.ini
RDUYC.DLL

DDF6EWFX.DLL
coreavc.ini
DFEFQQ.DLL
IUBGHY.DLL
systeminfo.cfg
network.da
*.gitignore~
*.dat
*.emacs~
.emacs.d/auto-save-list/.saves-3992-ERWIN-PC~
#*#
